.main-comp{
   display: flex;
   align-items: center;
   justify-content: flex-start;
   object-fit: cover;
}

.main-container{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-container > h1{
    color: white;
    line-height: 9rem;
    font-weight: bold;
    font-size: 78px;
    width: 50vh;
    font-family: 'Poppins', sans-serif;
}

.span-main{
    color: #424242;
}